<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.web>
      <customErrors mode="On">

          <error statusCode="404" redirect="urlShortner.asp" />

      </customErrors>
		<compilation debug="true" />
		
	<httpRuntime executionTimeout="600" maxRequestLength="112400" />
        <globalization fileEncoding="utf-8" />
    </system.web>
    
<system.webServer>
 <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="13741824" />
      </requestFiltering>
   </security>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="default.html" />
                <add value="default.htm" />
                <add value="default.asp" />
                <add value="index.asp" />
                <add value="index.php" />
                <add value="index.aspx" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
          
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="%SystemDrive%\inetpub\custerr" path="500.htm" responseMode="File" />
        </httpErrors>
  
</system.webServer>
</configuration>
