<?xml version="1.0"?>
<configuration>
    

    <system.web>
        <authorization>
            
            <!--<allow roles="administrator" />
            <deny roles="auth_user" />
            <deny users="?" />
            <deny users="*" />-->
        </authorization>
        
    </system.web>
</configuration>
